.bodi
{
    height: 1000px;
    margin-bottom: 200px;
}
.racun
{
    margin: auto;
    background-color: whitesmoke;
}
table
{
    margin: auto;
}

.h2k
{
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

.h1k
{
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

.h0k
{
    text-align: center;
    font-weight: bold;
    
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

.form
{
    margin: auto;
    text-align: center;
}

